/**/env/*
/**/data/*
/**/letsencrypt/*
/**/duplicati/*
/**/syncthing/*
/*/*/nextcloud/*
/*/*/jellyfin/*
/*/*/prowlarr/*
/*/*/transmission/*
/*/*/photoprism/*
/*/*/bitwarden/*

ansible*key
inventory
.terraform*
*.env
.DS_Store
