*.*
/**/data/*
/**/config/*
/**/letsencrypt/*
/**/duplicati/*
/**/syncthing/*
/**/nextcloud/*
/**/jellyfin/*
/**/tdarr/*

!.gitignore
!docker-compose.yml
!run.sh
!stop.sh
!backup.sh
!update.sh
!traefik.yml
!config.yml
!prometheus.yml
!.env.example
!nginx.conf
!default.json
