*.*
/*/data/*
/*/code/*
/*/html/*
/*/letsencrypt/*
/*/duplicati/*

!.gitignore
!docker-compose.yml
!run.sh
!stop.sh
!backup.sh
!update.sh
!traefik.yml
!config.yml
!prometheus.yml
!.env.example
!nginx.conf
!default.json
